<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kasi Event App - Login</title>
    <link rel="stylesheet" href="C:\Users\MAKGALEMELA\Desktop\GKHACK24\GKPROJECT\version_3\public\css\login.css">
</head>
<body>
    <div class="login-container">
        <h1>Login to Kasi Event App</h1>
        <form class="login-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" required>
            </div>
            <a href="admin.html"><button type="submit" class="btn" >Login</button></a>
        </form>
        <p class="register-link">Don't have an account? <a href="register.html">Register here</a></p>
    </div>

    <script href="C:\Users\MAKGALEMELA\Desktop\GKHACK24\GKPROJECT\version_3\public\js\login.js"></script>
</body>
</html>
